<!doctype html>
<html>
  <head>
    <title>Demo</title>
  </head>
  <body>
  	<form action = '/index' method='post'>
  		Enter your name: <input type = 'text' placeholder = 'name' name = 'nm' id = 'nm'> <br>
  		<input type = 'submit' value = 'Submit'>
  	</form>
  </body>
</html>